/* Cascading Style Sheets for Week 12 Project: Create, Read, Update, Delete App */

h1 {
    color: goldenrod
}

body {
    background-color: lightblue;
    border-style: dotted;
    border-color: black;
    border-width: 3px;
    border-radius: 5px;
    height: 800px;
    text-align: center;
}

table {
    margin: auto;
    border-collapse: collapse;
}